<div class="header">
    <div class="container">
        <div class="col-xs-12 col-md-4">
            <div class="logo">
                <h1 class="title"><a href="/">MusicHub</a></h1>
            </div>
        </div>
        <div class="col-xs-12 col-md-8">
            <div class="header-menu">
                <ul class="list-inline pull-right">
                    <li><a href="/login" class="btn btn-default">Log in</a></li>
                    <li><a href="/register" class="btn btn-success">Sign up</a></li>
                    <!-- or -->
                    <li><a href="/username" class="btn btn-default">Username <i class="fa fa-angle-down"></i></a></li>
                </ul>
            </div>
        </div>  
    </div>
</div>