{% extends 'base.html' %}

{% block content %}
<div id="home" class="content">
    <div class="container">
        <h1>Make music like software</h1>
    </div>
</div>
<div id="view" class="content">
    <div class="container">
        <svg height="210" width="100%">
            <g class="systemContent">
                <g class="staff">
                    <g class="staffLines" fill="none">
                        <line x1="0" y1="0" x2="100%" y2="0" style="stroke:rgb(0,0,0);stroke-width:2" />
                        <line x1="0" y1="10" x2="100%" y2="10" style="stroke:rgb(0,0,0);stroke-width:2" />
                        <line x1="0" y1="20" x2="100%" y2="20" style="stroke:rgb(0,0,0);stroke-width:2" />
                        <line x1="0" y1="30" x2="100%" y2="30" style="stroke:rgb(0,0,0);stroke-width:2" />
                        <line x1="0" y1="40" x2="100%" y2="40" style="stroke:rgb(0,0,0);stroke-width:2" />
                    </g>
                    <g class="measure">
                        <g class="attributes"></g>
                        <rect width="25%" height="60" style="fill:transparent;"></rect>
                    </g>
                </g>
                <line x1="0" y1="0" x2="0" y2="40" style="stroke:rgb(0,0,0);stroke-width:2" />
                <line x1="100%" y1="0" x2="100%" y2="40" style="stroke:rgb(0,0,0);stroke-width:2" />
            </g>
            <path d="M2.9150390625,3.75q-1.259765625,0,-2.0947265625,-0.673828125q-0.8203125,-0.673828125,-0.8203125,-1.81640625q0,-1.962890625,1.7578125,-3.486328125t4.189453125,-1.5234375q1.2890625,0,2.0947265625,0.673828125t0.8056640625,1.81640625q0,1.845703125,-1.93359375,3.427734375t-3.9990234375,1.58203125z"></path>
        </svg>
        <div id="svg"></div>
    </div>
</div>
{% endblock %}