{% extends 'base.html' %}

{% block content %}
<div id="commitslist" class="content">
    <div class="container">
        <h3>List of commits: <a href="">{{ track.title }}</a> - <a href="">{{ track.owner.username }}</a></h3>
        <div class="list">
            {% for commit in commit_list %}
            <div class="commit">
                <div class="row">
                    <div class="col-md-1 hash"><small>{{ commit.hash|truncatechars:13 }}</small></div>
                    <div class="col-md-6 description">{{ commit.description }}</div>
                    <div class="col-md-2 user"><a href="">{{ track.owner.username }}</a></div>
                    <div class="col-md-2 time">{{ commit.time }}</div>
                    <div class="col-md-1 diff">
                    {% if commit != commit_list|first %}
                        <a href="/difference?old={{ commit.get_parent_commit_hash }}&new={{ commit.hash }}" class="">Changes</a>
                    {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}