{% extends 'base.html' %}

{% block content %}
<div id="commitslist" class="content">
    <div class="container">
        <h3>List of commits - <a href="">Repo title</a> - <a href="">vladkampov</a></h3>
        <div class="list">
            <div class="commit">
                <div class="row">
                    <div class="col-md-1 hash"><small>23dsad1</small></div>
                    <div class="col-md-6 description">Some description of commit</div>
                    <div class="col-md-2 user"><a href="">vladkampov</a></div>
                    <div class="col-md-2 time">13:23</div>
                    <div class="col-md-1 diff"><a href="#" class="">Changes</a></div>
                </div>
            </div>
            <div class="commit">
                <div class="row">
                    <div class="col-md-1 hash"><small>23dsad1</small></div>
                    <div class="col-md-6 description">Some description of commit</div>
                    <div class="col-md-2 user"><a href="">vladkampov</a></div>
                    <div class="col-md-2 time">13:23</div>
                    <div class="col-md-1 diff"><a href="#" class="">Changes</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}