{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div id="diff" class="content">
    <div class="container">
        <div class="options">
            <h2><span class="song-title">{{ track.title }}</span> - <small><a href="/user">{{ user.username }}</a></small></h2>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="btn-group" role="group" aria-label="...">
                        <div class="dropdown btn-group">
                            <button class="btn btn-default dropdown-toggle" type="button" id="branch" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <i class="fa fa-tree" aria-hidden="true"> branch: </i> master
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="branch">
                                <li><a href="/repo/tree/new">new</a></li>
                                <li><a href="/repo/tree/live">live</a></li>
                            </ul>
                        </div>
                        <div class="dropdown btn-group">
                            <button class="btn btn-default dropdown-toggle" type="button" id="track" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <i class="fa fa-headphones" aria-hidden="true"> track: </i> {{ instrument }}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="track">
                                {% for instrument in instruments %}
                                <li><a href="/difference/?old={{old_hash}}&new={{new_hash}}&instrument={{instrument}}">{{instrument}}</a></li>
                                {% endfor %}}
                            </ul>
                        </div>
                        <a href="/repo/tree/master/commits/" class="btn btn-default"><i class="fa fa-clock-o" aria-hidden="true"></i> {{ track.commits.all|length }} commits</a>
                    </div>
                </div>
            </div>
        </div>
        <div><br><br></div>
        <div id="midiOld"></div>
        <div id="midiNew"></div>
        <div class="row">
            <div id="notesOld">
                <div class="playOld">
                </div>
                <div id="notesABCOld">
                    {{ old }}
                </div>
                <div id="sheetABCOld"></div>
            </div>
            <div id="notesNew">
                <div class="playNew">
                </div>
                <div id="notesABCNew">
                    {{ new }}
                </div>
                <div id="sheetABCNew"></div>
            </div>
        </div>
    </div>
</div>
<script>
    $(window).ready(function() {
        changes = {{ changes }}
    })
</script>
<script src="{% static 'js/diff.js' %}"></script>
{% endblock %}