{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div id="edit" class="content">
    <div class="container">
    <form action="/track/save" method="POST" id="form" name="form">
        <div class="options">
            <h2><span class="song-title">{{ track.title }}</span> - <small><a href="/user">{{ track.owner.username }}</a></small></h2>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="btn-group" role="group" aria-label="...">
                        <div class="dropdown btn-group">
                            <button class="btn btn-default dropdown-toggle" type="button" id="branch" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <i class="fa fa-tree" aria-hidden="true"> branch: </i> master
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="branch">
                                <li><a href="/repo/tree/new">new</a></li>
                                <li><a href="/repo/tree/live">live</a></li>
                            </ul>
                        </div>
                        <div class="dropdown btn-group">
                            <button class="btn btn-default dropdown-toggle" type="button" id="track" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <i class="fa fa-headphones" aria-hidden="true"> track: </i> {{ instrument }}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="track">
                                {% for instrument in instruments %}
                                    <li><a href="/{{ request.user.username }}/{{ track.pk }}?instrument={{ instrument }}">{{ instrument }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <a href="/{{ request.user.username }}/{{ track.pk }}/commit/list" class="btn btn-default"><i class="fa fa-clock-o" aria-hidden="true"></i> {{ track.commits.all|length }} commits</a>
                    </div>
                </div>
                <div class="col-xs-12 col-md-3">
                    <input id="id_commitdescription" type="text" class="form-control" placeholder="Commit description"></input>
                </div>
                <div class="col-xs-12 col-md-3">
                    <div class="pull-right">
                        <a href="/{{ request.user.username }}/{{ track.pk }}" class="btn btn-default back"><i class="fa fa-angle-left" aria-hidden="true"></i> go back</a>
                        <button id="id_upload" type="submit" class="btn btn-success upload"><i class="fa fa-cloud-upload" aria-hidden="true"></i> save new version</button>
                    </div>
                </div>
            </div>
        </div>
        <textarea name="" id="textarea" cols="30" rows="10">{{ notes }}</textarea>
        <div id="midi"></div>
        <div id="notes">
            <div id="sheetABC"></div>
        </div>
    </div>
    </form>
</div>
<div id="changer">
    <div class="row">
        <div class="col-xs-12 col-md-10">
            <input id="chord" type="text" class="form-control">
        </div>
        <div class="col-xs-12 col-md-2">
            <a href="#" id="save" class="btn btn-success"><i class="fa fa-save" aria-hidden="true"></i> save</a>
        </div>
    </div>
</div>
<script>
    var instrument = "{{ instrument }}"
    var repo_pk = {{ track.pk }}
</script>
<script src="{% static 'js/edit.js' %}"></script>
{% endblock %}