{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div id="repo" class="content">
    <div class="container">
        <div class="options">
            <h2><span class="song-title">{{ track.title }}</span> - <small><a href="/{{ track.owner.username }}">{{ track.owner.username }}</a></small></h2>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="btn-group" role="group" aria-label="...">
                        <div class="dropdown btn-group">
                            <button class="btn btn-default dropdown-toggle" type="button" id="branch" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <i class="fa fa-tree" aria-hidden="true"> branch: </i> master
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="branch">
                                <li><a href="/repo/tree/new">new</a></li>
                                <li><a href="/repo/tree/live">live</a></li>
                            </ul>
                        </div>
                        <div class="dropdown btn-group">
                            <button class="btn btn-default dropdown-toggle" type="button" id="track" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <i class="fa fa-headphones" aria-hidden="true"> track: </i> {{ instrument }}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="track">
                                {% for instrument in instruments %}
                                    <li><a href="/{{ request.user.username }}/{{ track.pk }}?instrument={{ instrument }}">{{ instrument }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <a href="/{{ user.username }}/{{ track.pk }}/commit/list" class="btn btn-default"><i class="fa fa-clock-o" aria-hidden="true"></i> {{ track.commits.all|length }} commits</a>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="pull-right">
                        <a href="edit" class="btn btn-default edit"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a>
                        <a href="{{ track.pk }}/commit/create" class="btn btn-success upload"><i class="fa fa-cloud-upload" aria-hidden="true"></i> Upload new version</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="play">
            <a href="#" class="btn" id="play"><i class="fa fa-play" aria-hidden="true"></i> Play</a>
            <a href="#" class="btn" id="stop"><i class="fa fa-stop" aria-hidden="true"></i> Stop</a>
        </div>
        <div id="midi"></div>
        <div id="notes">
            <div id="notesABC">
                {{ notes }}
            </div>
            <div id="sheetABC"></div>
        </div>
    </div>
</div>
<script src="{% static 'js/repo.js' %}"></script>
{% endblock %}